<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/customers']" href="#">
    <img src="https://scontent.fhan3-1.fna.fbcdn.net/v/t1.0-9/58461466_2105577179547975_3319275276105416704_n.jpg?_nc_cat=111&ccb=2&_nc_sid=730e14&_nc_ohc=IC7MUui3PgUAX98NqzZ&_nc_ht=scontent.fhan3-1.fna&oh=6a0609c1c4400719386569399d0a3665&oe=5FD9FDAA" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Trang chủ
  </a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  